<div id="source_type">
  This citation refers to a
  <%= link_to "Book", new_figure_source_path(@figure, :kind => "book"), "data-remote" => "1", "data-method" => "get" %>
  <%= link_to "Periodical", new_figure_source_path(@figure, :kind => "periodical"), "data-remote" => "1", "data-method" => "get" %>
  <%= link_to "Website", new_figure_source_path(@figure, :kind => "online"), "data-remote" => "1", "data-method" => "get" %>
</div>

<div id="form">
</div>
