* {
  font-family: helvetica, sans-serif;
}

a {
  color: #00f;
}

body {
  padding: 0;
  margin: 0;
}

#header {
  padding: 5px 20px;
  border-bottom: 3px solid #99f;
  background: #009;
  color: #ddf;
}

#header h1 {
  padding: 5px 0 0 0;
  margin: 0;
  color: #ccf;
  font-size: 36px;
}

#content {
  margin: 10px 20px;
}

.nav {
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding: 3px 20px;
  background: #eee;
}

#content h1 {
  font-size: 24px;
  margin: 0;
  margin-top: 16px;
}

#content h2 {
  margin: 3px 0;
  font-size: 16px;
  line-height: 20px;
}

#content h2.aliases .aka {
  visibility: hidden;
  font-weight: normal;
  color: #777;
  padding-right: 3px;
}

#content h2.aliases .preposition {
  font-weight: normal;
  color: #777;
}

#content h2.aliases .aka0 {
  visibility: visible;
}

input.text {
  font-size: 30px;
  font-weight: bold;
  width: 600px;
}

input.text2 {
  font-size: 20px;
  font-weight: bold;
  width: 600px;
}

label.text {
  font-size: 14px;
  color: #555;
}

textarea.instructions {
  font-size: 16px;
  width: 600px;
  height: 300px;
}

textarea.caption {
  font-size: 12px;
  width: 600px;
  height: 60px;
}

.step .comment {
  color: #999;
}

tr.named {
  background: #ffc;
}

tr.step td {
  padding-bottom: 5px;
}

.step td, .step th, .step td *, .step th * {
  font-size: 16px;
}

th.number {
  text-align: right;
  color: #999;
  font-weight: normal;
  vertical-align: top;
  padding-right: 5px;
}

ul.tabs {
  text-align: left;
  border-bottom: 1px solid #bbb;
  list-style-type: none;
  margin: 1em 0;
  padding: 3px 10px;
}

ul.tabs li {
  display: inline;
}

ul.tabs li a {
  padding: 3px 4px;
  border: 1px solid #999;
  background-color: #ddd;
  color: #666;
  text-decoration: none;
  border-bottom: none;
}

ul.tabs li.selected a {
  background-color: #fff;
  color: #000;
  position: relative;
  top: 1px;
  padding-top: 4px;
}

ul.tabs li.new {
  float: right;
  position: relative;
}

.tab-body {
  display: none;
  margin-left: 15px;
}

.tab-body.selected {
  display: block;
}

.tab-body .meta {
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
  margin-bottom: 20px;
}

.tab-body .meta p {
  margin: 0;
  margin-top: 3px;
}

#footer {
  margin-top: 20px;
  padding: 5px 10px;
  border-top: 1px solid #ccc;
  font-size: 10px;
  opacity: 0.5;
}

fieldset .section {
  margin: 10px 0px;
}

.step p {
  margin-top: 0px;
  margin-bottom: 6px;
}
