<p>In 1906 Caroline Furness Jayne published a seminal book, "String Figures and How to Make Them". It included instructions (and lavish illustrations!) for over 90 string figures.</p>

<p>It was published just a few years after Drs. Rivers and Haddon published their method of describing string figures (<%= link_to "Rivers-Haddon Notation", notation_path('rivers-haddon') %>), but rather than use their technical terminology, Jayne "dumbed it down" a bit, to make the instructions more accessible to the layman. As a result, her notation is <em>very</em> verbose, and is highly dependent on illustration. It can take some determination and no small amount of concentration to work through some of the instructions she described in her book!</p>

<p>However, many researchers after her used her simplified notation, which is primarily characterized by a lack of the more scientific terms, like "distal", "proximal", "ulnar", and "radial".</p>
