<p>FSFN was developed by Ben Daglish, a computer programmer. His goal was to formalize the description of string figure construction, possibly even providing a way for computer programs to read, execute, and display string figures.</p>

<p>FSFN borrows heavily from <%= link_to("SFN", notation_path('sfn')) %>, but adds additional cues useful for computer parsing (like header fields for denoting metadata about the figure). It also adds a formalized concept of "comments", which allow non-notational clarifications to be inserted into the definition.</p>
