<p>The <a href="http://www.isfa.org">ISFA</a> is the <em>International String Figure Association</em>. From their website (<a href="http://www.isfa.org/isfa2.htm">http://www.isfa.org/isfa2.htm</a>):</p>

<blockquote>
  <p>
    The <em>International String Figure Association</em> (ISFA) was founded in 1978
    by Hiroshi Noguchi, a Japanese mathematician, and Philip Noble, an Anglican missionary
    stationed in Papua New Guinea. ISFA is a small, not-for-profit organization funded
    solely by membership dues and private donations. The primary goal of ISFA is to gather,
    preserve, and distribute string figure knowledge so that future generations will
    continue to enjoy this ancient pastime. We also encourage the invention of new string
    figures, and enjoy sharing them with one another.
  </p>
</blockquote>

<p><a href="http://isfa.org/application_form.htm">Membership in the ISFA is free</a>, and you are strongly encouraged to join if you have any interest in string figures at all!</p>

<p>The ISFA notation (also known as Storer-d'Antoni notation, after the two researchers who first used it) is characterized by the use of the numbers 1 to 5 to indicate the digits of each hand, and by the use of specific terms to indicate common moves, such as "pick up" versus "hook up". It is a prose notation, but is significantly less verbose and much easier to read than more strongly prose-oriented notations, like <%= link_to "Jayne's Notation", notation_path('cfj') %> or <%= link_to "Rivers-Haddon Notation", notation_path('rivers-haddon') %>.</p>

<p>As the official notation of the ISFA, it is the primary notation used in <a href="http://isfa.org/isfa3.htm">their publications</a>.</p>
