<p>"Mizz code" is a string figure notation invented by Kyoichi "Mizz" Miyazaki that departs from traditional notation methods, which tend to focus on how the fingers need to move to accomplish each step. Instead, Mizz Code describes how the string moves, leaving the actual finger movements up to the performer.</p>

<p>It is one of the most terse of all string figure notations, and can describe even complicated figures in very little space. Also, due to its unique philosophy, Mizz Code can grant powerful insights into the construction and performance of many string figures. However, like other terse notations (e.g. <%= link_to("SFN", notation_path('sfn')) %> and <%= link_to("FSFN", notation_path('fsfn')) %>), it has a significant learning curve.</p>
