<p>This is a catch-all category for notations that are more strongly "notation" than "prose". String figures on this site that use this notation category are very likely depicted in some experimental notation, and you should see the description of the instructions themselves for more information about the notation.</p>
