<p>Prose-based notations tend to be verbose, but otherwise have no overarching principle of characterization. String figures on this site using a general "prose" notation are typically described using a non-English language, or using a non-standard way of depicting maneuvers.</p>
