<p>Drs. Rivers and Haddon were anthropologists at the turn of the 20th century. They studied string figures as a vehicle for tracing the route of "primitive" cultures. As part of their studies, they published the first method for recording string figures.</p>

<p>Their notation tends to be verbose, and uses terms like "proximal" (toward the base of the finger), "distal" (toward the tip of the finger), "ulnar" (toward the pinky finger) and "radial" (toward the thumb) to describe various maneuvers. As a result, their instructions can be challenging to understand at first.</p>

<p>Their notation influenced Caroline Jayne Furness a few years later, when she published her book, "String Figures and How to Make Them", using a notation she based on theirs (<%= link_to "Jayne's Notation", notation_path("cfj") %>).</p>
