<p>SFN (String Figure Notation) was developed by Eric Lee in an attempt to reduce the verbosity of the existing notation systems. Compared to the <%= link_to "ISFA notation", notation_path('isfa') %>, which is about 23% notation versus 77% prose, SFN is about 96% notation.</p>

<p>SFN is primarily a shorthand for <%= link_to "ISFA notation", notation_path('isfa') %>, providing abbreviations and conventions for many types of maneuvers. As a result, it is terse, and gives a way to rapidly record a string figure while you are learning it. It also lets you more rapidly scan a figure and understand it. However, as with <%= link_to "Mizz Code", notation_path('mizz') %> (another terse notation), the learning curve can be significant.</p>
